{% extends 'base.html' %}
{% load static %}
{% block head_title %}Django SaaS Boilerplate Pricing{% endblock %}
{% block content %}

    <section class="leading-6 text-black bg-white">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-black lg:px-6 lg:py-16">
            <div class="mx-auto mb-8 max-w-screen-md text-center lg:mb-12">
                <h2
                        class="mx-0 mt-0 mb-4 text-4xl font-extrabold tracking-tight leading-10 text-gray-900"
                >
                    My Best App Pricing
                </h2>
                <p
                        class="mx-0 mt-0 mb-5 font-light text-gray-500 sm:text-xl sm:leading-7"
                >
                    Affordable for everyone. Great for side projects and startups.
                </p>
            </div>
            <div class="lg:grid lg:grid-cols-3 xl:gap-14 sm:gap-6">
                <!-- Pricing Card -->
                <div
                        class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 rounded-lg border border-gray-100 border-solid xl:p-8 shadow-lg"
                >
                    <div class="flex-1">
                        <h3 class="mx-0 mt-0 mb-4 text-2xl font-semibold leading-8">Free</h3>
                        <p class="m-0 font-light text-gray-500 sm:text-lg sm:leading-7">
                            For hobby projects and testing. Includes all the basics to get you started.
                        </p>
                        <div class="flex justify-center items-baseline my-8">
                            <span class="mr-2 text-5xl font-extrabold leading-none">$0</span>
                        </div>
                        <!-- List -->
                        <ul role="list" class="p-0 mx-0 mt-0 mb-8 text-left">
                            <li class="flex items-center">
                                {% include "components/checkmark.html" %}
                                <span class="mr-0 ml-3"> Basic features</span>
                            </li>
                            <li class="flex items-center mt-4 mb-0">
                                {% include "components/checkmark.html" %}
                                <span class="mr-0 ml-3">Community Support</span>
                            </li>


                            <li class="flex items-center mt-4 mb-0">
                                {% include "components/checkmark.html" %}
                                <span class="mr-0 ml-3">Projects Included
                                <span class="font-semibold">One</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <a
                            href="{% url 'account_signup' %}"
                            class="py-2 px-5 text-sm font-medium leading-5 text-white bg-blue-600 rounded-lg cursor-pointer"
                    >Get started</a>
                </div>
                <!-- Pricing Card -->
                <div
                        class="flex flex-col p-6 my-0 mx-auto max-w-lg text-center text-gray-900 rounded-lg border border-gray-100 border-solid lg:my-0 xl:p-8 shadow-lg"
                >
                    <div class="flex-1">
                        <h3 class="mx-0 mt-0 mb-4 text-2xl font-semibold leading-8">
                            Professional
                        </h3>
                        <p class="m-0 font-light text-gray-500 sm:text-lg sm:leading-7">
                            For serious projects. Advanced features.
                        </p>
                        <div class="flex justify-center items-baseline my-8">
                            <span class="mr-2 text-5xl font-extrabold leading-none">$89</span>
                        </div>
                        <!-- List -->
                        <ul role="list" class="p-0 mx-0 mt-0 mb-8 text-left">
                            <li class="flex items-center">
                                {% include "components/checkmark.html" %}
                                <span class="mr-0 ml-3">Everything in Free version</span>
                            </li>
                            <li class="flex items-center mt-4 mb-0">
                                {% include "components/checkmark.html" %}
                                <span class="mr-0 ml-3">More cool stuff</span>
                            </li>
                            <li class="flex items-center mt-4 mb-0">
                                {% include "components/checkmark.html" %}
                                <span class="mr-0 ml-3">Email support 14 business days</span>
                            </li>

                            <li class="flex items-center mt-4 mb-0">
                                {% include "components/checkmark.html" %}
                                <span class="mr-0 ml-3">
                                <span class="font-semibold">Unlimited Projects</span>
                              </span>
                            </li>

                        </ul>
                    </div>
                    <a
                            href="{% url 'account_signup' %}"
                            class="py-2 px-5 text-sm font-medium leading-5 text-blue-600 border border-blue-600 rounded-lg cursor-pointer bg-white"
                    >
                        Coming soon
                    </a>
                </div>
                <!-- Pricing Card -->
                <div
                        class="flex flex-col p-6 my-0 mx-auto max-w-lg text-center text-gray-900 rounded-lg border border-gray-100 border-solid lg:my-0 xl:p-8 shadow-lg"
                >
                    <div class="flex-1">
                        <h3 class="mx-0 mt-0 mb-4 text-2xl font-semibold leading-8">
                            Enterprise
                        </h3>
                        <p class="m-0 font-light text-gray-500 sm:text-lg sm:leading-7">
                            For those who have hired too many developers.
                        </p>
                        <div class="flex justify-center items-baseline my-8">
                            <span class="mr-2 text-5xl font-extrabold leading-none">$29 999</span>
                        </div>
                        <!-- List -->
                        <ul
                                role="list"
                                class="p-0 mx-0 mt-0 mb-8 text-left"
                                style="list-style: none"
                        >
                            <li class="flex items-center">
                                {% include "components/checkmark.html" %}
                                <span class="mr-0 ml-3">Everything in Professional version</span>
                            </li>
                            <li class="flex items-center mt-4 mb-0">
                                {% include "components/checkmark.html" %}
                                <span class="mr-0 ml-3">Actual support via email</span>
                            </li>
                            <li class="flex items-center mt-4 mb-0">
                                {% include "components/checkmark.html" %}
                                <span class="mr-0 ml-3">SAML/SSO/AD Auth</span>
                            </li>
                            <li class="flex items-center mt-4 mb-0">
                                {% include "components/checkmark.html" %}
                                <span class="mr-0 ml-3">Extra large font for COBOL developers</span>
                            </li>
                            <li class="flex items-center mt-4 mb-0">
                                {% include "components/checkmark.html" %}
                                <span class="mr-0 ml-3">
                                <span class="font-semibold">Unlimited Projects</span>
                              </span>
                            </li>
                            <li class="flex items-center mt-4 mb-0">
                                {% include "components/checkmark.html" %}
                                <span class="mr-0 ml-3">
                                <span class="font-semibold">IPO Friendly</span>
                              </span>
                            </li>
                        </ul>
                    </div>
                    <a
                            href="{% url 'account_signup' %}"
                            class="py-2 px-5 text-sm font-medium leading-5 text-blue-600 border border-blue-600 rounded-lg cursor-pointer bg-white"
                    >
                        Coming soon
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
