{% extends "mainapp/layouts/sidebar_layout.html" %}

    {% block head_title %}TimerEvent List{% endblock %}

    {% block main_content %}
    <div class="container">
        <h2 class="h2">TimerEvent List</h2>

        <a href="{% url 'timerevent_create' %}" class="btn btn-primary mb-3">Create New TimerEvent</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Timer</th> <th>Event Type</th> <th>Timestamp</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for timerevent in timerevent_list %}
                <tr>
                    <td>{{ timerevent.timer }}</td> <td>{{ timerevent.event_type }}</td> <td>{{ timerevent.timestamp }}</td>
                    <td>
                        <a href="{% url 'timerevent_detail' timerevent.id %}" class="btn btn-info btn-sm">View</a>
                        <a href="{% url 'timerevent_update' timerevent.id %}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="{% url 'timerevent_delete' timerevent.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">No timerevents found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}