{% extends 'base.html' %}
{% load static %}
{% block head_title %}Django SaaS Boilerplate | SpeedPy.com{% endblock %}
{% block content %}

    <div
            class="flex flex-col justify-center items-center pt-20 pb-8 w-screen bg-white text-neutral-800"
    >
        <div class="inline-flex w-64 text-neutral-800">
            <div class="flex flex-col items-center">
                <img
                        alt="SpeedPy.com"
                        decoding="async"
                        src="{% static "mainapp/speedpy_logo.png" %}"
                        width="310"
                        height="310"
                        data-nimg="1"
                        loading="eager"
                        class="p-0 m-0 text-transparent"
                />
            </div>
        </div>
        <h2
                class="m-0 font-sans text-3xl font-bold xl:text-5xl sm:text-4xl lg:text-5xl"
        >
            SpeedPy.com
        </h2>
        <h4
                class="mx-0 mt-4 mb-0 font-sans text-2xl font-bold xl:text-4xl sm:text-2xl lg:text-3xl"
        >
            Your SaaS Journey Starts Here
        </h4>
        <h5 class="mx-0 mt-4 mb-0 font-sans text-xl font-semibold xl:text-2xl sm:text-xl lg:text-2xl">
            Edit this file in <code class="text-neutral-700">templates/mainapp/welcome.html</code>
        </h5>
        <div class="flex flex-row mt-6 text-neutral-800">
            <a
                    class="inline-flex relative justify-center items-center py-2 px-3 m-0 font-sans text-sm font-semibold uppercase align-middle bg-transparent rounded-lg border-0 appearance-none cursor-pointer select-none text-sky-600 hover:bg-transparent"
                    tabindex="0"
                    target="_blank"
                    rel="noopener"
                    href="https://twitter.com/speedpycom"
            >@speedpycom</a
            ><a
                class="inline-flex relative justify-center items-center py-2 px-3 my-0 mr-0 ml-4 font-sans text-sm font-semibold uppercase align-middle bg-transparent rounded-lg border-0 appearance-none cursor-pointer select-none text-sky-600 hover:bg-transparent"
                tabindex="0"
                target="_blank"
                rel="noopener"
                href="https://speedpy.com/discord"
        >Join Discord</a>
        </div>
        <div class="flex flex-row mt-6 text-neutral-800">
            <a
                    class="inline-flex relative justify-center items-center py-2 px-5 m-0 font-sans text-sm font-semibold uppercase align-middle bg-transparent rounded-lg border border-blue-300 border-solid appearance-none cursor-pointer select-none text-sky-600 hover:border hover:border-solid hover:border-sky-600 hover:bg-transparent"
                    tabindex="0"
                    target="_blank"
                    rel="noopener"
                    href="https://appliku.com/"
            >Deploy With Appliku</a>
        </div>
    </div>

{% endblock %}