{% extends "allauth/layouts/manage.html" %}
{% block content %}
    <div class="mx-auto max-w-7xl pt-5 lg:flex lg:gap-x-16 lg:px-8">
        <aside class="flex overflow-x-auto border-b border-gray-900/5 py-4 lg:block lg:w-64 lg:flex-none lg:border-0 lg:py-20">
            <nav class="flex-none px-4 sm:px-6 lg:px-0">
                <ul role="list" class="flex gap-x-3 gap-y-1 whitespace-nowrap lg:flex-col">
                    <li>
                        <a href="{% url "account_change_password" %}"
                           class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <span class="font-semibold">
                            Change Password
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url "account_email" %}"
                           class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <span class="font-semibold">
                            Change Email
                            </span>
                        </a>
                    </li>


                </ul>
            </nav>
        </aside>
        <main class="px-4 py-16 sm:px-6 lg:flex-auto lg:px-0 lg:py-20">
            <div class="mx-auto max-w-2xl space-y-16 sm:space-y-10 lg:mx-0 lg:max-w-none bg-white shadow sm:rounded-lg">
                {% block main_content %}
                {% endblock %}
            </div>
        </main>
    </div>
{% endblock %}