{% extends "account/base_manage_email.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags static %}
{% block head_title %}
    {% trans "Email Addresses" %}
{% endblock head_title %}
{% block main_content %}

        <div class="sm:w-full sm:max-w-md">
            <h2 class="text-xl font-bold  tracking-tight text-gray-900 px-6 pt-6 sm:px-12">
                {% trans "Email Addresses" %}
            </h2>

        </div>
        <div class="sm:mx-auto sm:w-full ">
            <div class="px-6 py-8 sm:px-12">
                {% if emailaddresses %}
                    <p class="mb-4">{% trans 'The following email addresses are associated with your account:' %}</p>
                    {% url 'account_email' as email_url %}
                    {% element form form=form action=email_url method="post" %}
                        {% slot body %}
                            {% csrf_token %}
                            {% for radio in emailaddress_radios %}
                                {% with emailaddress=radio.emailaddress %}
                                    {% element field type="radio" checked=radio.checked name="email" value=emailaddress.email id=radio.id %}
                                        {% slot label %}
                                            {{ emailaddress.email }}
                                            {% if emailaddress.verified %}
                                                {% element badge tags="success,email,verified" %}
                                                    {% translate "Verified" %}
                                                {% endelement %}
                                            {% else %}
                                                {% element badge tags="warning,email,unverified" %}
                                                    {% translate "Unverified" %}
                                                {% endelement %}
                                            {% endif %}
                                            {% if emailaddress.primary %}
                                                {% element badge tags="email,primary" %}
                                                    {% translate "Primary" %}
                                                {% endelement %}
                                            {% endif %}
                                        {% endslot %}
                                    {% endelement %}
                                {% endwith %}
                            {% endfor %}
                        {% endslot %}

                        {% slot actions %}
                            <div class="py-4">
                                {% element button type="submit" name="action_primary" %}
                                    {% trans 'Make Primary' %}
                                {% endelement %}
                                {% element button tags="secondary" type="submit" name="action_send" %}
                                    {% trans 'Re-send Verification' %}
                                {% endelement %}
                                {% element button tags="danger,delete" type="submit" name="action_remove" %}
                                    {% trans 'Remove' %}
                                {% endelement %}
                            </div>
                        {% endslot %}

                    {% endelement %}
                {% else %}
                    {% include "account/snippets/warn_no_email.html" %}
                {% endif %}
                {% if can_add_email %}
                    <h3 class="mt-6 text-xl font-semibold leading-9 tracking-tight text-gray-900">
                        {% trans "Add Email Address" %}
                    </h3>
                    {% url 'account_email' as action_url %}
                    {% crispy form %}
                {% endif %}
            </div>
        </div>

{% endblock main_content %}
{% block extra_body %}
    <script type="text/javascript">
      (function () {
        var message = "{% trans 'Do you really want to remove the selected email address?' %}";
        var actions = document.getElementsByName('action_remove');
        if (actions.length) {
          actions[0].addEventListener("click", function (e) {
            if (!confirm(message)) {
              e.preventDefault();
            }
          });
        }
      })();
    </script>
{% endblock extra_body %}
