{% extends "account/base_entrance.html" %}
{% load allauth i18n socialaccount static %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <img class="mx-auto h-20 w-auto" src="{% static "mainapp/speedpy_logo.png" %}" alt="SpeedPy.Com">

            <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
                {% trans "Sign Up" %}
            </h2>
            <p class="mt-2 text-center text-sm leading-6 text-gray-500">
                Already have an account?
                <a href="{% url "account_login" %}"
                   class="font-semibold text-indigo-600 hover:text-indigo-500">
                    Log In
                </a>
            </p>
        </div>
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
            <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">


                {% get_providers as socialaccount_providers %}

                {% if socialaccount_providers %}
                    <p>{% blocktrans with site.name as site_name %}
                        You can sign up using Google:
                    {% endblocktrans %}</p>

                    <div class="socialaccount_ballot">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}

                    </div>

                    {% include "socialaccount/snippets/login_extra.html" %}
                {% endif %}
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock %}
